#app {
  height: 100%;
  width: 100%;
  display: flex;
}

#app-drawer {
  display: flex;
  position: fixed;
  align-items: center;
  gap: 8px;
  left: 0;
  top: 0;
  padding-left: var(--space-S);
  padding-top: calc(14px + var(--space-S));
  z-index: var(--z-overlay);
}

#app #app-navigation-wrapper {
  width: var(--width-small);
  overflow: hidden;
  transition: width 300ms cubic-bezier(.4, .8, 0, 1);
  flex-shrink: 0;
  display: flex;
  background: var(--background);
}

.app-menu-wrapper .app-menu {
  width: var(--width-small);
  padding-top: 78px;
  display: flex;
}

#app #app-navigation {
  padding: var(--space-S);
  flex: 1;
  overflow: auto;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space-S) / 2);
}

.tabs-container * {
  flex: 1;
}

#app #app-interface {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#app-interface div[role=toolbar] {
  padding: var(--space-S);
  padding-bottom: 2px;
  padding-top: calc(14px + var(--space-S));
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

#app-interface .main-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
}

main {
  padding: var(--space-S);
  flex: 1;
  width: 100%;
  overflow-y: auto;
}

main>* {
  flex: 1;
}

@media only screen and (min-width: 768px) {
  #settings {
    inset: unset;
    top: 76px;
    right: var(--space-S);
  }

  #app.app-navigation-toggle #app-navigation-wrapper {
    width: 0;
  }
}

@media (max-width: 768px) {
  #settings {
    top: 0;
  }

  #app #app-navigation-wrapper {
    height: 100%;
    width: var(--width-small);
    border-radius: 0 var(--space-M) var(--space-M) 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: opacity 280ms, transform 280ms cubic-bezier(.4, .8, 0, 1);
    z-index: 1999;
    background: var(--on-surface);
  }

  #app.app-navigation-toggle .backdrop {
    opacity: 1;
    visibility: visible;
  }

  #app.app-navigation-toggle #app-navigation-wrapper {
    transform: translateX(0);
  }

  #app.open-app-navigation #app-navigation-wrapper {
    animation: app-navigation-show 280ms cubic-bezier(.4, .8, 0, 1) forwards;
  }
}

#theme-selection {
  gap: 4px;
}

#theme-selection button {
  --radii: 1.6rem;
}

#theme-selection button {
  min-height: 54px;
}

#theme-selection button:not(:first-child):not(:last-child) {
  border-radius: 6px;
}

#theme-selection button:first-child {
  border-radius: var(--radii) var(--radii) 6px 6px;
}

#theme-selection button:last-child {
  border-radius: 6px 6px var(--radii) var(--radii);
}