/* style.css */

#chat-container {
  padding: 10px;
  margin-block: 2rem;
  text-align: center;
  height: clamp(300px, 80%, 90vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chat-container>div {
  width: 100%;
  height: 100%;
}

#chat-picker {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--space-S);
}

.card {
  flex: 1;
  min-width: 140px;
  min-height: 63px;
  border: 1px solid transparent;
  position: relative;

  .main-button {
    border-radius: 18px;

    .name {
      font-weight: 600;
      text-align: left;
    }

    .channel {
      font-size: 0.7rem;
      text-align: left;
    }
  }

  .edit-button {
    position: absolute;
    top: 9.5px;
    right: 9.5px;
    display: flex;
  }
}

@media (hover: hover) {
  .card .edit-button {
    display: none;
  }

  .card:hover .edit-button,
  .card:focus-within .edit-button {
    display: flex;
  }
}

.card button {
  padding: 0.4rem;
}

.card button {
  flex: 1;
  display: grid;
  user-select: none;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 1fr;

  .card-icon {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 44px;
    width: 44px;
    background: var(--tonal);
    border-radius: 8px;
    margin-right: 10px;
  }
}

.card .main-button .content * {
  white-space: normal;
}

.card:not(.editing),
.card:not(.editing) * {
  user-select: none;
}

.card.editing .main-button {
  border-style: dashed;
}

.card.editing {
  padding: 0.4rem;
  border-radius: 18px;
  border: 1px dashed hsl(0, 0%, 18%);
}

.card .open-chat-button-container {
  text-align: right;
}

.card .open-chat-button {
  min-width: 120px;
}

.card input {
  padding: 0;
  width: 100%;
}

.card .token .icon {
  font-size: inherit;
}

.card .token {
  display: flex;
  gap: 4px;
}

#chat-creator {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 4px;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid rgb(61, 61, 61);
}

#drawer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

#drawer-handle {
  cursor: grabbing;
  padding: 8px;
}