/* style.css */

#app-toolbar>button.add-custom-chat-button-small {
  display: none;
}

@media screen and (max-width: 768px) {
  #app-toolbar>button.add-custom-chat-button-small {
    display: unset;
  }
}

#chat-container {
  padding: 10px;
  margin-block: 2rem;
  text-align: center;
  /* height: clamp(300px, 80%, 90vh); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chat-container>div {
  width: 100%;
  height: 100%;
}

#chat-picker {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--space-S);
}

.card {
  flex: 1;
  min-width: 140px;
  border: 1px solid transparent;
  position: relative;
  font-size: 0.8rem;

  .main-button {
    gap: 0;
    min-height: 54px;

    .name {
      font-weight: 600;
      text-align: left;
    }

    .channel {
      font-size: 0.7rem;
      text-align: left;
    }
  }

  .edit-button {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    opacity: 1;
  }
}

@media (hover: hover) {
  .card .edit-button {
    opacity: 0;
  }

  .card:hover .edit-button,
  .card:focus-within .edit-button {
    opacity: 1;
  }
}

.card button {
  padding: 0.25rem;
}

.card button {
  flex: 1;
  display: grid;
  user-select: none;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 1fr;

  .card-icon {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 44px;
    width: 44px;
  }
}

.card .main-button .content * {
  white-space: normal;
}

.card:not(.editing),
.card:not(.editing) * {
  user-select: none;
}

.card.editing .main-button {
  border-style: dashed;
}

.card.editing {
  padding: 0.4rem;
  border-radius: 18px;
  border: 1px dashed hsl(0, 0%, 18%);
}

.card .open-chat-button-container {
  text-align: right;
}

.card .open-chat-button {
  min-width: 120px;
}

.card input {
  padding: 0;
  width: 100%;
}

#add-custom-chat-modal input {
  border-radius: 0;
}

#drawer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

#drawer-handle {
  cursor: grabbing;
  padding: 8px;
}