:root[data-theme="Warm Light"] {
  color-scheme: light;

  --primary: hsl(34 40% 92%);
  --primary-100: hsl(34 36% 96%);
  --primary-200: hsl(34 32% 90%);
  --primary-300: hsl(34 28% 84%);
  --primary-shadow: hsl(34, 30%, 70%, 32%);
  --primary-opaque: hsl(34 40% 64% / 0.8);

  --secondary: hsl(22 80% 50%);
  --secondary-100: hsl(22 76% 58%);
  --secondary-200: hsl(22 72% 64%);
  --secondary-300: hsl(22 60% 54%);
  --secondary-shadow: hsl(22 40% 50% / 72%);

  --hovered: hsl(34 36% 96%);
  --pressed: hsl(34 32% 90%);

  --tonal: hsl(34 28% 88%);
  --tonal-hovered: hsl(34, 24%, 82%);
  --tonal-pressed: hsl(34, 22%, 76%);
  --tonal-ripple: hsl(22, 76%, 58%);
  --tonal-shadow: hsl(22, 50%, 60%, 80%);
  --tonal-outline: hsl(22 100% 54%);

  --elevated: hsl(34 36% 98%);
  --elevated-hovered: hsl(34 30% 94%);
  --elevated-pressed: hsl(34 28% 90%);
  --elevated-shadow-front: hsl(34, 40%, 80%, 80%);
  --elevated-shadow-back: hsl(34, 20%, 70%, 30%);

  --accent: hsl(22, 80%, 55%);

  --background: hsl(40 30% 98%);
  --surface: hsl(34 36% 96%);
  --overlay-shadow: transparent;
  --on-surface: hsl(40 20% 92%);

  --text: hsl(22 100% 14%);
  --text-primary: hsl(34, 40%, 20%);
  --text-tonal: hsl(22 100% 24%);
  --button-text: hsl(22 100% 24%);

  --filled: hsl(22 80% 50%);
  --filled-color: hsl(40 36% 96%);
  --filled-hovered: hsl(22 76% 58%);
  --filled-pressed: hsl(22 72% 64%);
  --filled-ripple: hsl(22 36% 94%);
  --filled-shadow: hsl(22 16% 84%);

  --ripple: hsl(22 34% 40%);
  --button-hover: hsl(22 28% 88%);

  --disabled: hsl(34 10% 88% / 0.6);
  --disabled-text: hsl(34 20% 40% / 0.4);
  --disabled-outline: hsl(34 10% 60% / 0.25);
}

:root[data-theme="Warm Dark"] {
  color-scheme: dark;

  --error: hsl(7, 100%, 54%);
  --success: hsl(133, 80%, 46%);
  --selection-background: var(--primary);

  --primary: hsl(18 24% 16%);
  --primary-100: hsl(16 14% 18%);
  --primary-200: hsl(16 14% 22%);
  --primary-300: hsl(16 14% 28%);
  --primary-shadow: hsl(16 18% 30% / 32%);
  --primary-opaque: hsl(22 22% 64% / 0.8);

  --secondary: hsl(32 68% 75%);
  --secondary-100: hsl(32 64% 68%);
  --secondary-200: hsl(32 60% 62%);
  --secondary-300: hsl(32 42% 76%);
  --secondary-shadow: hsl(32 32% 70% / 72%);

  --hovered: hsl(16 18% 14%);
  --pressed: hsl(16 18% 18%);

  --tonal: hsl(16 16% 26%);
  --tonal-hovered: hsl(16 16% 32%);
  --tonal-pressed: hsl(16 18% 38%);
  --tonal-ripple: hsl(16 74% 68%);
  --tonal-shadow: hsl(16 48% 30% 80%);
  --tonal-outline: hsl(22 100% 74%);

  --elevated: hsl(16 14% 16%);
  --elevated-hovered: hsl(16 8% 20%);
  --elevated-pressed: hsl(16 10% 24%);
  --elevated-shadow-front: hsl(16, 38%, 14%, 80%);
  --elevated-shadow-back: hsl(16, 18%, 20%, 30%);

  --accent: hsl(16 80% 70%);

  --background: hsl(22 10% 4%);
  --surface: hsl(16 8% 6%);
  --overlay-shadow: transparent;
  --on-surface: hsla(24, 10%, 5%, 0.6);

  --text: hsl(22 94% 92%);
  --text-primary: hsl(16 8% 85%);
  --text-tonal: hsl(22 94% 84%);
  --button-text: hsl(22 94% 84%);

  --filled: hsl(32 70% 82%);
  --filled-color: hsl(22 42% 14%);
  --filled-hovered: hsl(32 64% 70%);
  --filled-pressed: hsl(32 60% 62%);
  --filled-ripple: hsl(32 34% 14%);
  --filled-shadow: hsl(32 14% 24%);

  --fab: var(--primary);
  --fab-hovered: hsl(16 28% 14%);
  --fab-pressed: hsl(16 32% 18%);

  --ripple: hsl(32 32% 66%);
  --button-hover: hsl(32 16% 16%);

  --outline: hsl(14 36% 54%);

  --disabled: hsl(16 6% 12%);
  --disabled-text: hsl(22 20% 60% / 0.4);
  --disabled-outline: hsl(22 10% 40% / 0.25);
}

:root[data-theme="Nightly Garden"] {
  color-scheme: dark;

  --error: hsl(7, 100%, 54%);
  --success: hsl(133, 80%, 46%);
  --selection-background: var(--primary);

  --text: hsl(343, 58%, 92%);
  --background: hsl(346, 24%, 4%);
  --surface: hsl(346, 59%, 6%);
  --on-surface: hsla(0, 10%, 6%, 0.6);
  --overlay-shadow: transparent;

  --primary: hsl(345, 15%, 18%);
  --primary-100: hsl(341, 64%, 81%);
  --primary-200: hsl(341, 72%, 84%);
  --primary-300: hsl(341, 76%, 89%);

  --secondary: hsl(67, 59%, 33%);
  --accent: hsl(89, 59%, 55%);
}

:root[data-theme="Table Dark"] { 
  /* Universal values: */
  color-scheme: dark;
  --error: hsl(7, 100%, 54%);  
  --success: hsl(133, 80%, 46%);
  --selection-background: var(--primary);

  --fab: var(--primary);
  --fab-hovered: hsl(244, 38%, 15%);
  --fab-pressed: hsl(244, 38%, 20%);
  
  --filled: hsl(200, 100%, 64%);           /* Create button fill color */
  --filled-color: hsl(22 42% 0%);         /* Create button text color */
  --filled-hovered: hsl(234, 53%, 41%);   /* Create button fill color when hovered */
  --filled-pressed: hsl(234, 53%, 25%);   /* Create button fill color when pressed */
  --filled-ripple: hsl(32 34% 14%);       /* ??? */
  --filled-shadow: hsl(234, 53%, 90%);   /* Outline of create button when pressed */
  
  --primary-100: hsl(227, 49%, 13%);      /* Scroll bars */
  --primary-200: hsl(227, 49%, 23%);      /* Scroll bars when hovered */ 
  
  --button-hover: hsl(32 16% 16%);        /* Outlines of certain buttons when hovered */
  --hovered: hsl(236, 35%, 15%);          /* Button color when hovered */
  --pressed: hsl(236, 35%, 22%);          /* Button color when pressed */
  
  --text: hsl(231, 100%, 92%);            /* Color of most text */
  --background: hsl(240, 20%, 4%);        /* Background color of most of the page */
  --primary: hsl(244, 58%, 11%);
  --secondary: hsl(245, 65%, 7%);
  --accent: hsl(242, 45%, 34%);

  --surface: hsl(240, 64%, 4%);           /* UI background */
  --on-surface: hsla(0, 10%, 6%, 0.6);    /* Behind the UI background */
  --overlay-shadow: transparent;          /* ??? */

  /* Annotated as best as I know to assist further theme creation */
  /* All comments within this theme are from me, Table. */
}  